.btn {
    border: 0px solid transparent;
    border-radius: $btnRadius;
    padding: $btnPaddings $btnRadius;
    color: white;
    cursor: pointer;
    @include gradientColor;
    @include boxShadow($box-shadow-round, false);
    transition: all 120ms ease-in-out;
}

.explorer:hover {
    @include gradientColor(lighten($secondaryColor,5%),lighten($primaryColor,10%));
    @include boxShadow($box-shadow-round-hover, false);
    @include scale;
}