* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section, footer{
    padding: 30px 20px;
}

a {
    text-decoration: none;
    color: unset;
}

html {
    height: 100%;
}
body {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
}

article {
    margin: 20px 0px;
}
