.fonction__container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    &__element {
        background-color: $siteBackground;
        padding: $btnPaddings $btnPaddings $btnPaddings 50px;
        width: 284px;
        border-radius: $btnRadius;
        position: relative;
        cursor: pointer;
        @include boxShadow($box-shadow-round-deep, false);
        transition:all 100ms ease-in-out;
        

        > .first {
            padding-left: 4px;
        }

        > .count {
            position: absolute;
            padding: 3px 5px 1px;
            background-color: $primaryColor;
            color: #FFF;
            border-radius: 50px;
            width: 22px;
            display: flex;
            justify-content: center;
            align-content: center;
            left: -8px;
            top: 14px;
        }

        > i {
            position: relative;
            right: 15px;
        }

        > .fa-mobile-screen-button {
            right: 12px;
        }

        &:hover {
            background-color: #f5edff;
            @include boxShadow($box-shadow-round-deep-hover, false);

            > i {
                color: $primaryColor;
            }
        }

    }
}